<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Flask Gallery Developed by James Peters in 2017. Follow me on Twitter @JamesPeters_NZ">
    <meta name="author" content="James Peters">
    <meta name="keywords" content="Flask, Gallery, Photos, Photo-gallery">

    <title>Flask Gallery - Developed by James Peters</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Homemade+Apple" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/device-mockups.min.css')}}">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/flaskgallery.css')}}" rel="stylesheet">

  </head>

  <body id="page-top">
  <!-- Navigation -->
  <nav class="navbar" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top">Flask Gallery</a>
    </div>
  </nav>

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2 style="text-align:center">Flask Gallery</h2>
        <h5 class="landing-sub" style="text-align:center">Dynamically load images into your Flask website, beautifully</h5>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

    <section class="contact" id="gallery">
      <div class="container">
        <div class="section-heading text-center">
          <p class="text-muted">Discover breathtaking flower photography by Diana Craig for Minni Design.<br>Enjoy the collection of limited edition fine art photography printed on Archival Paper for a quality and high resolution.</p>
        </div>
        <div class="section-heading text-center">
          <p class="text-muted">Each print is a limited edition of thirty</p>
          <hr style="padding-bottom:50px;">
        </div>
        <div class="row">
          {% for photo in photos %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card"><a href="/collection/{{photo.objectID}}" class="card-view">
              <img class="card-img-top" src="{{photo.thumb}}" style="border: 2px solid lightgray;">
              </a>
              <div class="card-body">
                <h4 class="card-title">{{photo.title}}</h4>
                <p class="card-text">{{photo.year}}</p>
              </div>
              <div class="card-footer">
                <a href="/collection/{{photo.objectID}}" class="card-view">View Info</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Contact</h2>
          <hr>
        </div>
      </div>
      <div class="container" style="padding-top:50px;">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="text-muted">
              <a href="mailto:diana@minnidesign.com" style="color:#868e96"><i class="pad-right fa fa-envelope-o"></i>diana@minnidesign.com</a>
            </p>
            <p class="text-muted">
              <a href="tel:+64212520949" style="color:#868e96"><i class="pad-right fa fa-phone"></i>+64 21 629 367</a>
            </p>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline list-social">
              <li class="list-inline-item social-twitter">
                <a href="https://www.instagram.com/minnidesignart/">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item social-facebook">
                <a href="https://www.facebook.com/minni_design">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item social-google-plus">
                <a href="https://www.pintrest.com/minni_design">
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2017 Flowers From My Mothers Garden. All images Copyright Minni Design</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#privacyModal" class="text-muted text-left" data-toggle="modal" data-target="#privacyModal">Privacy</a><!-- Popup modal -->
          </li>
          <li class="list-inline-item">
            <a href="#termsModal" class="text-muted text-left" data-toggle="modal" data-target="#termsModal">Terms</a><!-- Popup modal -->
          </li>
          <li class="list-inline-item">
            <a href="#faqModal" class="text-muted text-left" data-toggle="modal" data-target="#faqModal">FAQ</a><!-- Popup modal -->
          </li>
        </ul>
      </div>
    </footer>

    <!-- Modal Privacy -->
    <div id="privacyModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" style="max-width:55%;min-height:50%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Privacy Statement</h4>
          </div>
          <div class="modal-body">
            <p class="text-muted">Customers information is secure with Minni Design.<br><br>International Customers please purchase through Pay Pal.<br><br>Customers within New Zealand please contact Diana personally to arrange payment.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Terms Privacy -->
    <div id="termsModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" style="max-width:55%;min-height:50%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Terms and Conditions</h4>
          </div>
          <div class="modal-body">
            <p class="text-muted">All images are property beloning to Diana Craig.<br><br>Copyright infrigement will lead to prosecution.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- FAQ Privacy -->
    <div id="faqModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" style="max-width:55%;min-height:50%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Frequently Asked Questions</h4>
          </div>
          <div class="modal-body">
            <ol>
              <li class="text-muted">Are all sales final?<br><strong>A.</strong>Yes, all sales are final.</li>
              <br>
              <li class="text-muted">Does Minni Design ship internationally?<br><strong>A.</strong>Yes, Minni Design ships internationally. The only exception is I cannot ship framed prints internationally due to the size of each print.</li>
              <br>
              <li class="text-muted">How to I purchase something if I live in New Zealand?<br><strong>A.</strong>Please contact Diana persoanlly to arrange shipping/pickup and the method of payment. Diana accepts cash and bank transfers from New Zealand Customers.</li>
              <br>
              <li class="text-muted">Who developed this website?<br><strong>A.</strong>Minnidesign.com was developed by <a href="https://jamespeters.cc" style=color:#3b5998;>James Peters</a>, you can get in contact with him at <a href="mailto:jamescpeters@outlook.com" style=color:#3b5998;>jamescpeters@outlook.com</a>.</li>
            </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('static', filename='js/new-age.min.js')}}"></script>

  </body>

</html>
