<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Flask Gallery Developed by James Peters in 2018. Follow me on Twitter @JamesPeters_NZ">
    <meta name="author" content="James Peters">
    <meta name="keywords" content="Flask, Gallery, Photos, Photo-gallery">

    <title>Flask Gallery - Developed by James Peters</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/simple-line-icons.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Homemade+Apple" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/device-mockups.min.css')}}">
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/flaskgallery.css')}}" rel="stylesheet">

  </head>

  <body>
  <!-- Navigation -->
  <nav class="navbar" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="pad-right fa fa-arrow-left"></i>Return To Gallery</a>
    </div>
  </nav>

  <section class="default" style="min-height:95vh;">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-12 mb-4 my-auto" style="padding-bottom:60px;">
          <div class="card">
            <img class="card-img-top" src="{{photo.url}}" style="box-shadow: 1px 10px 40px #888888;border:17px solid white;">
          </div>
        </div>

        <div class="col-lg-6 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 my-auto">
                <div class="section-heading text-center object-head">
                  <h2>{{photo.title}}</h2>
                  <hr>
                </div>
                <div class="feature-item object-desc text-center ">
                  <p class="text-muted">{{photo.desc}}</p>
                  <br>
                  <br>
                  <p class="text-muted">{{photo.printsize}}</p>
                  <p class="text-muted">{{photo.framedsize}}</p>
                  <br>
                  <p><a href="#photoModal" class="text-muted  text-center " data-toggle="modal" data-target="#photoModal"><strong style="font-size:14px;">View Larger</strong></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- end row -->
    </div><!-- end container -->

    <!-- Modal Enlarged Photo -->
    <div id="photoModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" style="max-width: 90%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{photo.title}}</h4>
          </div>
          <div class="modal-body">
            <img class="card-img-top" src="{{photo.url}}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Buy -->
    <div id="buyModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" style="max-width:55%;min-height:50%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Purchase {{photo.title}}</h4>
          </div>
          <div class="modal-body">
            <p class="text-muted">{{photo.desc}}</p>
            <p class="text-muted">default Diana Craig at minnidesign.com</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </section>

      <footer>
        <div class="container">
          <p>&copy; 2017 Flowers From My Mothers Garden. All images Copyright Minni Design</p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#privacyModal" class="text-muted text-left" data-toggle="modal" data-target="#privacyModal">Privacy</a><!-- Popup modal -->
            </li>
            <li class="list-inline-item">
              <a href="#termsModal" class="text-muted text-left" data-toggle="modal" data-target="#termsModal">Terms</a><!-- Popup modal -->
            </li>
            <li class="list-inline-item">
              <a href="#faqModal" class="text-muted text-left" data-toggle="modal" data-target="#faqModal">FAQ</a><!-- Popup modal -->
            </li>
          </ul>
        </div>
      </footer>

      <!-- Modal Privacy -->
      <div id="privacyModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="max-width:55%;min-height:50%;">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Privacy Statement</h4>
            </div>
            <div class="modal-body">
              <p class="text-muted">Customers information is secure with Minni Design.<br><br>International Customers please purchase through Pay Pal.<br><br>Customers within New Zealand please default Diana personally to arrange payment.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Terms Privacy -->
      <div id="termsModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="max-width:55%;min-height:50%;">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Terms and Conditions</h4>
            </div>
            <div class="modal-body">
              <p class="text-muted">All images are property beloning to Diana Craig.<br><br>Copyright infrigement will lead to prosecution.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- FAQ Privacy -->
      <div id="faqModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style="max-width:55%;min-height:50%;">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Frequently Asked Questions</h4>
            </div>
            <div class="modal-body">
              <ol>
                <li class="text-muted">Are all sales final?<br><strong>A.</strong>Yes, all sales are final.</li>
                <br>
                <li class="text-muted">Does Minni Design ship internationally?<br><strong>A.</strong>Yes, Minni Design ships internationally. The only exception is I cannot ship framed prints internationally due to the size of each print.</li>
                <br>
                <li class="text-muted">How to I purchase something if I live in New Zealand?<br><strong>A.</strong>Please default Diana persoanlly to arrange shipping/pickup and the method of payment. Diana accepts cash and bank transfers from New Zealand Customers.</li>
                <br>
                <li class="text-muted">Who developed this website?<br><strong>A.</strong>Minnidesign.com was developed by <a href="https://jamespeters.cc" style=color:#3b5998;>James Peters</a>, you can get in default with him at <a href="mailto:jamescpeters@outlook.com" style=color:#3b5998;>jamescpeters@outlook.com</a>.</li>
              </ol>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{url_for('static', filename='js/new-age.min.js')}}"></script>

    <script>
    $(document).ready(function(){
      function openModal(){
      	$('.modal').modal();
      }
    });
  </script>
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

  </body>

</html>
